body {
    color: #232323;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
  }
  .calculator {
    width: 500px;
    background-color: #f2f2f2;
    margin: auto;
  }
  
  /* .functions {
    display: flex;
    justify-content: left;
    flex-direction: row;
  }
   */
  .btn {
    height: 50px;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
  }
  .btn-num {
    background-color: #fdfdfd;
    font-weight: 600;
    font-size: x-large;
    font-family: fantasy;
  }
  
  .btn-main {
    background-color: #f7f7f7;
  }
  
  .rowu {
    display: flex;
    flex-direction: row;
    /* align-items: left; */
  }
  .input {
    display: block;
    height: 4rem;
    width: 99%;
    text-align: right;
    border: none;
    background-color: #f2f2f2;
    font-size: 2rem;
    outline: none;
    text-decoration: none;
  }
  .expression {
    display: block;
    height: 4rem;
    width: 99%;
    text-align: right;
    border: none;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
  }
  .btn-others {
      height: 50px;
      width: 19%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px;
      font-size: medium;
      font-weight: bold;
  }
  /* .btn-others2 {
      height: 35px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 10px;
      font-size: medium;
      font-weight: 100;
  } */
  .dropbtn {
    color: black;
    width: 184px ;
    padding: 16px;
    /* font-size: 16px; */
    border: none;
    margin: 10px;
   
    cursor: pointer;
  }
  .dropdown1 {
    width: 20rem;
    position: absolute;
    opacity: 10;
    background-color: #f2f2f2;
  }

  .btnd{
    height: 50px;
    width: 33%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 3px;
    background-color: #f7f7f7;
    
  }
  .dropdown1-1, .dropdown1-2, .dropdown1-3, .dropdown1-4 {
    display: none;
  }
  .clicked-bg{
    background-color: rgb(146, 199, 214);
  }
  .hidden{
    display: none;
  }
 
  /* .dropbtn:hover , .dropbtn:focus {
    background-color: rgb(221, 218, 218);
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
 
  .show {
    display: block;
  }